# Build results
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
build/
bld/
[Oo]ut/

# Visual Studio / Rider IDE files
.vs/
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build / restore artifacts
project.lock.json
project.fragment.lock.json
artifacts/

# NuGet
*.nupkg
packages/
!packages/build/

# ASP.NET / EF
*.mdf
*.ldf
*.ndf

# OS files
.DS_Store
Thumbs.db
